<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>To-Do List</h1>
    {% if session.logged_in %}
      <p class="auth-status-field">You are logged in as {{ session.username }}. <a href="/logout">Log out</a></p>
    {% else %}
      <p class="auth-status-field">You are not logged in. <a href="/login">Log in</a></p>
    {% endif %}

    {% for task in tasks %}
    <div class="task" style="background-color: #f2f2f2; color: #333;">
      <h2 class="task-title ">{{ task }}</h2>
    </div>
    {% endfor %}

    <h1>Add Task</h1>
    <form method="post" action="/add_task">
      {{ form.csrf_token }}
      {{ form.title.label }} {{ form.title }}<br>
      <input type="submit" value="Add task">
    </form>
  </body>
</html>
